.app {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png);
  background-position: center center;
  background-size: 100%;
  color: white;
  height: 50vh;
  background-repeat: no-repeat;
}

.app__top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
